:root{
	--color-container: #222222;
	--color-input: #3a3b3c;
	--color-hover: #505152;
	--color-system: #afafaf;
}

.avatar{
  vertical-align: middle;
  border-radius: 50%;
  object-fit: cover;
}

.background{
	background: #121212;
}

#txtNewPost:focus{
	border: none
}

#upload-photo{
	display: none;
}

.postUserAvatar{
	width: 40px;
	height: 40px;
}

.post-container{
	background: var(--color-container);
	padding: 20px;
	
}
.post-time{
	font-size: 13px;
}

.comment-avatar{
	width: 35px;
	height: 35px;
}

.comment-name-content{
	background: #3a3b3c;
}

.read-more-comment{
	cursor: pointer;
}

.post-image-demo{
	width: 100%;
	height: auto;
}

#btn-show-modal-new-post{
	background: #3a3b3c;
	color: var(--color-system);
	border: none;
	border-radius: 25px;

}

#btn-show-modal-new-post:hover{
	background-color: #505152;
}

.post-container{
	border-radius: 15px;
}

#show-modal-new-post-container{
	background-color: var(--color-container);
}

.postUserName{
	font-size: 16px;
	font-weight: bold;
}

.comment-name{
	font-size: 14px;
	font-weight: bold;
}

.cmt-input {
	background: #3a3b3c;
	color: #fff;
	border: none;
	border-radius: 15px;
	padding: 8px;
}

.post-image-demo{
	border-radius: 8px;
	margin-top: 10px;
}

.comment-name-content{
	background: #3a3b3c;
	color: #fff;
	border: none;
	border-radius: 15px;
	padding: 8px;
	padding-left: 15px;
}

.comment-content{
	font-size: 14px;
	margin-top: 5px;
}

.read-more-comment{
	color: var(--color-system);
}

.post-like-comment{
	color: var(--color-system);
}

.btn-like{
	padding: 5px;
	color: var(--color-system);
	font-size: 16px;
	font-weight: 600;
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 15px;
}
.btn-like:hover{
	background: var(--color-hover);
}
.btn-like:focus{
	outline: 0 !important
}

.btn-unlike{
	padding: 5px;
	color: rgb(32, 120, 244);
	font-weight: 600;
	font-size: 16px;
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 15px;
}
.btn-unlike:focus{
	outline: 0 !important
}
.btn-unlike:hover{
	background: var(--color-hover);
}

.btn-comment{
	padding: 5px;
	color: var(--color-system);
	font-size: 16px;
	font-weight: 600;
	border: 0;
	background: none;
	box-shadow: none;
	border-radius: 15px;
}
.btn-comment:hover{
	background: var(--color-hover);
}
.btn-comment:focus{
	outline: 0 !important
}

.post-button-container{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #3a3b3c;
	border-top: 1px solid #3a3b3c;
}

.carousel-item{
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

#read-more-post{
	color: var(--color-system);
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: 600px;
	border: none;
	background: none;
	box-shadow: none;
	border-radius: 15px;
}

#read-more-post:hover{
	cursor: pointer;
}

